<div class="line-item-row">
  <!-- upvote widget -->
  <%= render_cell :post, :vote, :post => item %>

  <div style="margin-left: 25px">
    <!-- post item widget -->
    <%= render_cell :comment, :headline, :post => item %>

    <!-- post item's info widget -->
    <%= render_cell :post, :info, :post => item %>

    <!-- post item's controls widget -->
    <%= render_cell :comment, :controls, :post => item %>
  </div>
</div>