<%= flash_tag %>
<div>
  <div class="line-items">
    <%= render :partial => 'posts/item', :collection => @posts %>
  </div>
  <p/>
  
  <%= will_paginate @posts, 
        :previous_label => '< prev', 
        :next_label => 'next >', 
        :page_links => false, 
        :separator => " #{separator_tag} " %>
</div>
<script type="text/javascript">
  $j(document).ready(function(){
    $j('a#latest').addClass('selected-menu-item');
  });
</script>