<%= flash_tag %>
<h2>Latest Posts</h2>

<div>
  <div class="line-items">
    <%= render :partial => 'posts/item', :collection => @posts %>
  </div>
  <p/>
  
  <%= will_paginate @posts, 
        :previous_label => '< prev', 
        :next_label => 'next >', 
        :page_links => false, 
        :separator => " #{separator_tag} " %>
</div>
